<h1>Welcome to Remember Recipes, where you can store all your favorite family recipes in one place! </h1><br>
<h2>Returning user? Sign into your account below:</h2><br>

<form method="POST" action="/login">
    <p>Username:<input name="username" type="username" required></p>
    Password: <input name="password" type="password" required></p>

    <input type="submit" value="login">

</form>
