<h1>Welcome to Remember Recipes, where you can store all your favorite family recipes in one place! </h1><br>
<h2>New user? Make an account below:</h2>

<form method="POST" action="/signup">
    <p>Username:<input name="username" type="username" required></p><br>
    Password: <input name="password" type="password" required>

    <input type="submit" value="signup">
</form>


